<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
        <meta charset="UTF-8">
        <meta name="description" content="Soho Template">
        <meta name="keywords" content="Soho, unica, creative, html">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>ROOM MANAGER</title>
        <header th:replace="hotel/header :: header"></header>
        <!-- Google Font -->
        <link href="https://fonts.googleapis.com/css?family=Lora:400,700&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Cabin:400,500,600,700&display=swap" rel="stylesheet">

        <!-- Css Styles -->
        <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">

        <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
        <link rel="stylesheet" th:href="@{/css/font-awesome.min.css}">
        <link rel="stylesheet" th:href="@{/css/elegant-icons.css}">
        <link rel="stylesheet" th:href="@{/css/flaticon.css}">
        <link rel="stylesheet" th:href="@{/css/owl.carousel.min.css}">
        <link rel="stylesheet" th:href="@{/css/nice-select.css}">
        <link rel="stylesheet" th:href="@{/css/jquery-ui.min.css}">
        <link rel="stylesheet" th:href="@{/css/magnific-popup.css}">
        <link rel="stylesheet" th:href="@{/css/slicknav.min.css}">
        <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<div align="center">
    <div sec:authorize="isAuthenticated()">
        Welcome <b><span sec:authentication="name">Username</span></b>
        &nbsp;
        <i><span sec:authentication="principal.authorities">Roles</span></i>
    </div>

    <h1>Room Manager</h1>
    <div sec:authorize="hasAnyAuthority('CREATOR', 'ADMIN')">
        <a th:href="@{/room-types/create}">Create New RoomType</a>
    </div>

    <br/><br/>


    <table border="1" cellpadding="10">
        <thead>
        <tr>
            <th style="background-color: #ff914d;">Room ID</th>
            <th style="background-color: #ff914d;">Room Type Name</th>
            <th style="background-color: #ff914d;">Price</th>
            <th style="background-color: #ff914d;">People</th>
            <th style="background-color: #ff914d;">Bed</th>
            <th style="background-color: #ff914d;">Description</th>

            <th style="background-color: #ff914d;" sec:authorize="hasAnyAuthority('ADMIN', 'EDITOR')">Actions</th>

        </tr>
        </thead>
        <tbody>
        <tr th:each="roomType : ${roomTypes}">
            <td th:text="${roomType.id}"></td>
            <td th:text="${roomType.roomTypeName}"></td>
            <td th:text="${roomType.price}"></td>
            <td th:text="${roomType.people}"></td>
            <td th:text="${roomType.bed}"></td>
            <td th:text="${roomType.description}"></td>

            <td sec:authorize="hasAnyAuthority('ADMIN')">
                <a th:href="@{'/room-types/edit/' + ${roomType.id}}">Edit</a>
                &nbsp;&nbsp;&nbsp;&nbsp;
                <a sec:authorize="hasAuthority('ADMIN')" th:href="@{'/delete/' + ${roomType.id}}" style="color: red;">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<br>
<div>
    <!-- Footer được chèn vào đây -->
    <footer th:replace="~{hotel/footer :: footer}"></footer>
</div>
<script th:src="@{/js/jquery-3.3.1.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
<script th:src="@{/js/jquery.magnific-popup.min.js}"></script>
<script th:src="@{/js/jquery.nice-select.min.js}"></script>
<script th:src="@{/js/jquery-ui.min.js}"></script>
<script th:src="@{/js/jquery.slicknav.js}"></script>
<script th:src="@{/js/owl.carousel.min.js}"></script>
<script th:src="@{/js/main.js}"></script>
</body>
</html>